Keyword Tracker.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        100
      ],
      "id": "d2605dd6-264e-463a-a1d5-0a9d0a8a10c8",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert AI lead scoring assistant.\n\nA lead has already been scored based on hard-coded keyword and ICP logic. Your task is to:\n\nReview the post content and user bio.\n\nValidate or slightly adjust the confidence score if the content shows strong intent or interest beyond keyword matching.\n\nWrite a brief reason to justify the confidence score.\n\nPost content:\n\"{{ $json[\"content\"] }}\"\n\nUser bio:\n\"{{ $json[\"bio\"] }}\"\n\nMatched keywords: {{ $json[\"matched_keyword\"] }}\nPost URL: {{ $json[\"post_url\"] }}\nUser profile: {{ $json[\"user_profile_url\"] }}\n\nInitial Confidence Score: {{ $json[\"confidence_score\"] }}\n\nIf the post shows clear buyer intent, dissatisfaction with a competitor, or urgent need, you may increase the score up to +0.1.\nIf the post feels vague or unrelated to real sales intent, you may decrease by -0.1.\nOtherwise, keep the score as is.\n\n⚠️ Final confidence score must be between 0 and 1.0 (cap at 1.0 if exceeded).\n\nReturn this exact JSON format (no markdown, no extra text):\n{\n\"post_url\": \"{{ $json[\"post_url\"] }}\",\n\"poster_profile\": \"{{ $json[\"user_profile_url\"] }}\",\n\"match_keyword\": \"{{ $json[\"matched_keyword\"] }}\",\n\"confidence\": 0.94,\n\"reason\": \"User shows dissatisfaction with Apollo and high engagement; strong buying intent confirmed by bio.\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1340,
        120
      ],
      "id": "a8b0ab15-0618-44d1-a39e-5c7885e5397a",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fz3docZDQ48paRD1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        220,
        -20
      ],
      "id": "8107de10-a55f-41d0-a9c7-16a8edb61ca8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        400,
        160
      ],
      "id": "a445e46f-f4ce-44d4-be25-5d689591f720"
    },
    {
      "parameters": {
        "fieldToSplitOut": "post_id",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "id": "c6598537-1e7c-45bd-8cfe-edf20c1392bb",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const posts = items[0].json.post_data;\n\nreturn posts.map(post => ({\n  json: post\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        100
      ],
      "id": "f212400a-a83c-4daf-8577-6ce63ba0af95",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nconst keywords = [\n  \"apollo\", \"outreach\", \"leads\", \"pipeline\", \"crm\",\n  \"sales enablement\", \"sdr tools\", \"prospecting\", \"revenue\",\n  \"sales navigator\", \"seamless.ai\", \"lusha\", \"sales tools\"\n];\n\nconst icpTitles = [\n  \"head of growth\", \"marketing\", \"growth lead\", \"growth manager\",\n  \"revenue leader\", \"sdr\", \"sales development representative\",\n  \"ae\", \"account executive\", \"gtm\", \"go-to-market\",\n  \"sales ops\", \"sales operations\", \"sales enablement\", \"ceo\"\n];\n\nfor (const item of items) {\n  const bio = item.json.bio?.toLowerCase() || \"\";\n  const content = item.json.content?.toLowerCase() || \"\";\n  const username = item.json.username || \"\";\n  const post_url = item.json.post_url || \"\";\n  const user_profile_url = item.json.user_profile_url || \"\";\n  const likes = item.json.likes || 0;\n  const comments = item.json.comments || 0;\n  const date_posted = item.json.date_posted || \"\";\n\n  let matched_keyword = null;\n  for (const k of keywords) {\n    const regex = new RegExp(`\\\\b${k}\\\\b`, 'i');\n    if (regex.test(bio) || regex.test(content)) {\n      matched_keyword = k;\n      break;\n    }\n  }\n\n  const isICP = icpTitles.some(title => bio.includes(title));\n\n  // ✅ Only include posts that match both keyword AND ICP\n  if (matched_keyword && isICP) {\n    // Optional confidence scoring logic\n    let confidence = 0.6;\n    if (likes > 10) confidence += 0.2;\n    if (comments > 3) confidence += 0.2;\n    confidence = Math.min(confidence, 1.0);\n    confidence = Math.round(confidence * 100) / 100;\n\n    output.push({\n      json: {\n        post_url,\n        user_profile_url,\n        matched_keyword,\n        confidence_score: confidence,\n        reason: `Matched keyword \"${matched_keyword}\" in post or bio and poster fits ICP (e.g. ${bio}).`,\n        username,\n        content,\n        bio,\n        date_posted\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        240
      ],
      "id": "994a0f1c-e62b-4c49-9c16-ac75276813f2",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nconst keywords = [\n  \"apollo\", \"outreach\", \"leads\", \"pipeline\", \"crm\",\n  \"sales enablement\", \"sdr tools\", \"prospecting\", \"revenue\",\n  \"sales navigator\", \"seamless.ai\", \"lusha\", \"sales tools\"\n];\n\nfor (const item of items) {\n  const bio = item.json.bio?.toLowerCase() || \"\";\n  const content = item.json.content?.toLowerCase() || \"\";\n\n  let matched_keyword = null;\n  for (const k of keywords) {\n    const regex = new RegExp(`\\\\b${k}\\\\b`, 'i');\n    if (regex.test(bio) || regex.test(content)) {\n      matched_keyword = k;\n      break;\n    }\n  }\n\n  if (!matched_keyword) continue;\n\n  output.push({\n    json: {\n      username: item.json.username || \"\",\n      bio: item.json.bio || \"\",\n      content: item.json.content || \"\",\n      matched_keyword,\n      post_url: item.json.post_url || \"\",\n      user_profile_url: item.json.user_profile_url || \"\",\n      likes: item.json.likes || 0,\n      comments: item.json.comments || 0,\n      date_posted: item.json.date_posted || \"\"\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        -160
      ],
      "id": "8d2981bf-10eb-424f-b89e-cf8306756ef1",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17CJzZM7TXeT0T33RNTTSKwxWtkBoXAz3nOEbtDZo5ww",
          "mode": "list",
          "cachedResultName": "Filtered_results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17CJzZM7TXeT0T33RNTTSKwxWtkBoXAz3nOEbtDZo5ww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17CJzZM7TXeT0T33RNTTSKwxWtkBoXAz3nOEbtDZo5ww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_url": "={{ $json[\"message\"][\"content\"][\"post_url\"] }}",
            "profile_url": "={{ $json[\"message\"][\"content\"][\"poster_profile\"] }}",
            "confidence_score": "={{ $json[\"message\"][\"content\"][\"confidence\"] }}",
            "reason": "={{ $json[\"message\"][\"content\"][\"reason\"] }}",
            "matched_keywords": "={{ $json[\"message\"][\"content\"][\"match_keyword\"] }}",
            "date_extracted": "={{ $now.toISO().split('T')[0] }}"
          },
          "matchingColumns": [
            "post_url"
          ],
          "schema": [
            {
              "id": "post_url",
              "displayName": "post_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "matched_keywords",
              "displayName": "matched_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_extracted",
              "displayName": "date_extracted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1720,
        120
      ],
      "id": "79c6d357-78d0-410f-92df-f900d3db3778",
      "name": "Filtered_results",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PmhSi3twd7SGFIpO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ly-1DTMdnZidYVk-otSv4S3DgZwblS619VfkSgTFDCc",
          "mode": "list",
          "cachedResultName": "All_results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ly-1DTMdnZidYVk-otSv4S3DgZwblS619VfkSgTFDCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ly-1DTMdnZidYVk-otSv4S3DgZwblS619VfkSgTFDCc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "bio": "={{ $json.bio }}",
            "content": "={{ $json.content }}",
            "matched_keyword": "={{ $json.matched_keyword }}",
            "post_url": "={{ $json.post_url }}",
            "profile_url": "={{ $json.user_profile_url }}",
            "date_posted": "={{ $json.date_posted }}",
            "likes": "={{ $json.likes }}",
            "comments": "={{ $json.comments }}",
            "date_extracted": "={{ $now.toISO().split('T')[0] }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "matched_keyword",
              "displayName": "matched_keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_url",
              "displayName": "post_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_extracted",
              "displayName": "date_extracted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1340,
        -40
      ],
      "id": "efd98aef-60a1-4bdd-8278-895034b56dc3",
      "name": "All_matched_results",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PmhSi3twd7SGFIpO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7300c01-44a3-45ed-a867-704b229951cd",
              "name": "=post_data",
              "value": "=[\n  {\n    \"post_id\": \"10000\",\n    \"post_url\": \"https://www.linkedin.com/posts/10000\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/alicebrown\",\n    \"username\": \"Alice Brown\",\n    \"bio\": \"Head of Growth at SaaSCo\",\n    \"content\": \"We've been using Apollo, but not satisfied with it lately. Thinking about a change.\",\n    \"likes\": 25,\n    \"comments\": 6,\n    \"date_posted\": \"2025-04-09\"\n  },\n  {\n    \"post_id\": \"10001\",\n    \"post_url\": \"https://www.linkedin.com/posts/10001\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/bobsmith\",\n    \"username\": \"Bob Smith\",\n    \"bio\": \"Head of Marketing\",\n    \"content\": \"We've been using Lusha, but not satisfied with it lately. Thinking about a change.\",\n    \"likes\": 8,\n    \"comments\": 4,\n    \"date_posted\": \"2025-04-25\"\n  },\n  {\n    \"post_id\": \"10002\",\n    \"post_url\": \"https://www.linkedin.com/posts/10002\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/clarajohnson\",\n    \"username\": \"Clara Johnson\",\n    \"bio\": \"Head of Sales\",\n    \"content\": \"We're currently using LinkedIn Sales Navigator. So far, no complaints so far!\",\n    \"likes\": 8,\n    \"comments\": 10,\n    \"date_posted\": \"2025-05-03\"\n  },\n  {\n    \"post_id\": \"10003\",\n    \"post_url\": \"https://www.linkedin.com/posts/10003\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/danielwu\",\n    \"username\": \"Daniel Wu\",\n    \"bio\": \"Head of Sales\",\n    \"content\": \"We're currently using Seamless.ai. So far, satisfied with ZoomInfo!\",\n    \"likes\": 14,\n    \"comments\": 2,\n    \"date_posted\": \"2025-04-24\"\n  },\n  {\n    \"post_id\": \"10004\",\n    \"post_url\": \"https://www.linkedin.com/posts/10004\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/evelynking\",\n    \"username\": \"Evelyn King\",\n    \"bio\": \"Founder\",\n    \"content\": \"We've been using ZoomInfo, but frustrated with it lately. Thinking about a change.\",\n    \"likes\": 6,\n    \"comments\": 7,\n    \"date_posted\": \"2025-04-18\"\n  },\n  {\n    \"post_id\": \"10005\",\n    \"post_url\": \"https://www.linkedin.com/posts/10005\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/frankharris\",\n    \"username\": \"Frank Harris\",\n    \"bio\": \"Head of Sales, Growth and Marketing at LogicFirm\",\n    \"content\": \"We've been using Seamless.ai, but exploring new tools it lately. Thinking about a change.\",\n    \"likes\": 0,\n    \"comments\": 4,\n    \"date_posted\": \"2025-04-12\"\n  },\n  {\n    \"post_id\": \"10006\",\n    \"post_url\": \"https://www.linkedin.com/posts/10006\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/gracekim\",\n    \"username\": \"Grace Kim\",\n    \"content\": \"We've been using LinkedIn Sales Navigator, but looking for a better solution than it lately. Thinking about a change.\",\n    \"likes\": 43,\n    \"comments\": 5,\n    \"date_posted\": \"2025-04-17\"\n  },\n  {\n    \"post_id\": \"10007\",\n    \"post_url\": \"https://www.linkedin.com/posts/10007\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/henryzhang\",\n    \"username\": \"Henry Zhang\",\n    \"content\": \"We've been using LinkedIn Sales Navigator, but looking for a better solution than it lately. Thinking about a change.\",\n    \"likes\": 14,\n    \"comments\": 2,\n    \"date_posted\": \"2025-05-04\"\n  },\n  {\n    \"post_id\": \"10008\",\n    \"post_url\": \"https://www.linkedin.com/posts/10008\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/islathompson\",\n    \"username\": \"Isla Thompson\",\n    \"content\": \"We've been using LinkedIn Sales Navigator, but frustrated with it lately. Thinking about a change.\",\n    \"likes\": 17,\n    \"comments\": 5,\n    \"date_posted\": \"2025-04-20\"\n  },\n  {\n    \"post_id\": \"10009\",\n    \"post_url\": \"https://www.linkedin.com/posts/10009\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/jacklee\",\n    \"username\": \"Jack Lee\",\n    \"content\": \"We've been using Apollo, but open to alternatives it lately. Thinking about a change.\",\n    \"likes\": 29,\n    \"comments\": 0,\n    \"date_posted\": \"2025-04-20\"\n  },\n  {\n    \"post_id\": \"10010\",\n    \"post_url\": \"https://www.linkedin.com/posts/10010\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/karenwhite\",\n    \"username\": \"Karen White\",\n    \"content\": \"We've been using LinkedIn Sales Navigator, but ditching it lately. Thinking about a change.\",\n    \"likes\": 11,\n    \"comments\": 4,\n    \"date_posted\": \"2025-04-22\"\n  },\n  {\n    \"post_id\": \"10011\",\n    \"post_url\": \"https://www.linkedin.com/posts/10011\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/leomartin\",\n    \"username\": \"Leo Martin\",\n    \"content\": \"We've been using LinkedIn Sales Navigator, but cold email isn't working it lately. Thinking about a change.\",\n    \"likes\": 23,\n    \"comments\": 4,\n    \"date_posted\": \"2025-04-15\"\n  },\n  {\n    \"post_id\": \"10012\",\n    \"post_url\": \"https://www.linkedin.com/posts/10012\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/monicadavis\",\n    \"username\": \"Monica Davis\",\n    \"content\": \"We're currently using Apollo. So far, happy with our tools!\",\n    \"likes\": 5,\n    \"comments\": 1,\n    \"date_posted\": \"2025-04-27\"\n  },\n  {\n    \"post_id\": \"10013\",\n    \"post_url\": \"https://www.linkedin.com/posts/10013\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/nathanscott\",\n    \"username\": \"Nathan Scott\",\n    \"content\": \"We're currently using Lusha. So far, loving the experience!\",\n    \"likes\": 18,\n    \"comments\": 2,\n    \"date_posted\": \"2025-04-28\"\n  },\n  {\n    \"post_id\": \"10014\",\n    \"post_url\": \"https://www.linkedin.com/posts/10014\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/oliviagreen\",\n    \"username\": \"Olivia Green\",\n    \"content\": \"We've been using Apollo, but exploring new tools it lately. Thinking about a change.\",\n    \"likes\": 43,\n    \"comments\": 7,\n    \"date_posted\": \"2025-05-02\"\n  },\n  {\n    \"post_id\": \"10015\",\n    \"post_url\": \"https://www.linkedin.com/posts/10015\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/peteryoung\",\n    \"username\": \"Peter Young\",\n    \"content\": \"We're currently using Seamless.ai. So far, happy with our tools!\",\n    \"likes\": 29,\n    \"comments\": 5,\n    \"date_posted\": \"2025-05-03\"\n  },\n  {\n    \"post_id\": \"10016\",\n    \"post_url\": \"https://www.linkedin.com/posts/10016\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/quincybrooks\",\n    \"username\": \"Quincy Brooks\",\n    \"content\": \"We've been using Lusha, but open to alternatives it lately. Thinking about a change.\",\n    \"likes\": 4,\n    \"comments\": 10,\n    \"date_posted\": \"2025-04-13\"\n  },\n  {\n    \"post_id\": \"10017\",\n    \"post_url\": \"https://www.linkedin.com/posts/10017\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/racheladams\",\n    \"username\": \"Rachel Adams\",\n    \"content\": \"We've been using ZoomInfo, but switching from it lately. Thinking about a change.\",\n    \"likes\": 26,\n    \"comments\": 2,\n    \"date_posted\": \"2025-04-16\"\n  },\n  {\n    \"post_id\": \"10018\",\n    \"post_url\": \"https://www.linkedin.com/posts/10018\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/steveclark\",\n    \"username\": \"Steve Clark\",\n    \"content\": \"We've been using Apollo, but had issues with it lately. Thinking about a change.\",\n    \"likes\": 1,\n    \"comments\": 3,\n    \"date_posted\": \"2025-04-12\"\n  },\n  {\n    \"post_id\": \"10019\",\n    \"post_url\": \"https://www.linkedin.com/posts/10019\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/tinabell\",\n    \"username\": \"Tina Bell\",\n    \"content\": \"We've been using ZoomInfo, but had issues with it lately. Thinking about a change.\",\n    \"likes\": 6,\n    \"comments\": 0,\n    \"date_posted\": \"2025-04-30\"\n  },\n  {\n    \"post_id\": \"10020\",\n    \"post_url\": \"https://www.linkedin.com/posts/10020\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/mariasmith\",\n    \"username\": \"Maria Smith\",\n    \"content\": \"Running some new campaigns using cold email. Excited about trying something outside ZoomInfo this time.\",\n    \"likes\": 40,\n    \"comments\": 12,\n    \"date_posted\": \"2025-05-01\"\n  },\n  {\n    \"post_id\": \"10021\",\n    \"post_url\": \"https://www.linkedin.com/posts/10021\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/jamesharper\",\n    \"username\": \"James Harper\",\n    \"bio\": \"Growth Lead at RevBoost\",\n    \"content\": \"Looking for CRM alternatives to streamline our pipeline. Apollo's not cutting it anymore.\",\n    \"likes\": 18,\n    \"comments\": 5,\n    \"date_posted\": \"2025-04-10\"\n  },\n  {\n    \"post_id\": \"10022\",\n    \"post_url\": \"https://www.linkedin.com/posts/10022\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/samanthawells\",\n    \"username\": \"Samantha Wells\",\n    \"bio\": \"SDR Manager at B2Blytics\",\n    \"content\": \"Our outreach volume dropped recently—thinking of switching from Seamless.ai to something more reliable.\",\n    \"likes\": 14,\n    \"comments\": 4,\n    \"date_posted\": \"2025-04-14\"\n  },\n  {\n    \"post_id\": \"10023\",\n    \"post_url\": \"https://www.linkedin.com/posts/10023\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/tomford\",\n    \"username\": \"Tom Ford\",\n    \"bio\": \"AE at Prospectly\",\n    \"content\": \"Frustrated with our current CRM setup. Anyone used Lusha and liked it?\",\n    \"likes\": 11,\n    \"comments\": 3,\n    \"date_posted\": \"2025-04-19\"\n  },\n  {\n    \"post_id\": \"10024\",\n    \"post_url\": \"https://www.linkedin.com/posts/10024\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/jennyxu\",\n    \"username\": \"Jenny Xu\",\n    \"bio\": \"Marketing Lead at Outboundly\",\n    \"content\": \"Looking to replace ZoomInfo. Sales team says it's not surfacing quality leads anymore.\",\n    \"likes\": 22,\n    \"comments\": 6,\n    \"date_posted\": \"2025-04-21\"\n  },\n  {\n    \"post_id\": \"10025\",\n    \"post_url\": \"https://www.linkedin.com/posts/10025\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/brianlee\",\n    \"username\": \"Brian Lee\",\n    \"bio\": \"GTM Strategy at GTMify\",\n    \"content\": \"Anyone comparing Apollo vs Seamless.ai for outbound lead gen?\",\n    \"likes\": 19,\n    \"comments\": 2,\n    \"date_posted\": \"2025-04-26\"\n  },\n  {\n    \"post_id\": \"10026\",\n    \"post_url\": \"https://www.linkedin.com/posts/10026\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/stephanierogers\",\n    \"username\": \"Stephanie Rogers\",\n    \"bio\": \"Head of Growth at FunnelSync\",\n    \"content\": \"Considering a switch from Sales Navigator. Curious what others are using for B2B prospecting.\",\n    \"likes\": 15,\n    \"comments\": 3,\n    \"date_posted\": \"2025-04-28\"\n  },\n  {\n    \"post_id\": \"10027\",\n    \"post_url\": \"https://www.linkedin.com/posts/10027\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/andrewchen\",\n    \"username\": \"Andrew Chen\",\n    \"bio\": \"Marketing Ops at LeadBoost\",\n    \"content\": \"Evaluating SDR tools—Lusha feels limited for multichannel outreach.\",\n    \"likes\": 9,\n    \"comments\": 5,\n    \"date_posted\": \"2025-04-23\"\n  },\n  {\n    \"post_id\": \"10028\",\n    \"post_url\": \"https://www.linkedin.com/posts/10028\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/lisagrant\",\n    \"username\": \"Lisa Grant\",\n    \"bio\": \"Sales Ops Lead\",\n    \"content\": \"Is anyone using CRM enrichment tools besides ZoomInfo? Open to alternatives.\",\n    \"likes\": 13,\n    \"comments\": 6,\n    \"date_posted\": \"2025-05-01\"\n  },\n  {\n    \"post_id\": \"10029\",\n    \"post_url\": \"https://www.linkedin.com/posts/10029\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/robertstone\",\n    \"username\": \"Robert Stone\",\n    \"bio\": \"CEO at RevenueCraft\",\n    \"content\": \"Our team has outgrown our current CRM. Looking into Apollo and Lusha. Thoughts?\",\n    \"likes\": 20,\n    \"comments\": 4,\n    \"date_posted\": \"2025-04-11\"\n  },\n  {\n    \"post_id\": \"10030\",\n    \"post_url\": \"https://www.linkedin.com/posts/10030\",\n    \"user_profile_url\": \"https://www.linkedin.com/in/meganholt\",\n    \"username\": \"Megan Holt\",\n    \"bio\": \"GTM Lead at ProspectPilot\",\n    \"content\": \"Seamless.ai has been flaky lately—looking at switching to a better SDR tool.\",\n    \"likes\": 12,\n    \"comments\": 7,\n    \"date_posted\": \"2025-05-05\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        100
      ],
      "id": "d83868f5-d36b-46d0-8cf7-71f2a1638561",
      "name": "Dummy_post_data"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Dummy_post_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Filtered_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "All_matched_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dummy_post_data": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df8efb3d-8d7d-49af-9118-f8f923681b83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b83277569d7a2627980899a3158a38772b3afc8c7b309695c7d3128bafc6a5e5"
  },
  "id": "xyGilGSunLyVKGZi",
  "tags": []
}